APP_PORT=3001
APP_SECRET
NODE_ENV="development"
LOG_LEVEL="info"

JWT_ACCESS_TOKEN==
JWT_ACCESS_EXPIRES=1d
JWT_REFRESH_TOKEN==
JWT_REFRESH_EXPIRES=7d

APP_SECRET=
ENCRYPTION_KEY=

VITE_API_BASE_URL="http://localhost:3001"

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

VALKEY_HOST=
VALKEY_PORT=

